.accessDenied {
  width: 1516px;
  height: 449px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.accessDeniedImg {
  width: 815px;
  height: 390px;
}
