.reportHead {
  margin-top: 47px;
  margin-left: 71px;
  color: red;
  font-size: 20px;
}

.container {
  margin-left: 68px;
  margin-top: 40px;
}

.bloc-tabs {
  height: 48px;
  width: 599px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}

.tabs {
  font-size: 20px;
  font-weight: 600;
  height: 50px;
  border-radius: 0px 0px 0px 0px;

  text-align: center;
  width: 300px;
  color: #00babe;
  background-color: white;
  border: 2px solid #00babe;
  cursor: pointer;
  position: relative;
  outline: none;
}

.active-tabs {
  color: white;
  background-color: #00babe;
  border-bottom: 1px solid transparent;
}

.tabs:hover {
  opacity: 0.8;
}

.content-tabs {
  flex-grow: 1;
  background-color: antiquewhite;
}
.content {
  background: white;
  margin-top: 40px;
  width: 100%;
  height: 100%;
  display: none;
}

.content hr {
  width: 100px;
  height: 2px;
  background: #222;
  margin-bottom: 5px;
}
.content p {
  width: 100%;
  height: 100%;
}
.active-content {
  display: block;
}
