.searchByUser {
  width: 1500px;
}

.searchByDivAlign {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.datepickerDivByUser {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 1300px;
  height: 111px;
  color: #00babe;
}

.datepickerByUser {
  width: 237px;
  height: 31px;
  text-decoration: none;
  border: 2px solid #00babe;
  border-radius: 10px;
  padding: 4px;
}

.reportButtonByUser {
  background-color: #00babe;
  color: white;
  width: 288px;
  height: 50px;
  font-size: 1.25rem;
  padding: 0.5rem;
  margin: 0.5rem 0;
  margin-top: 37px;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
}

.reportButtonByUser:hover {
  transition: 0.5s;
  opacity: 0.9;
}

.reportButtonByUser:active {
  opacity: 1;
}

.datepickerDivInsideByUser {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex;
  height: 85px;
  justify-content: space-around;
}

.datepickerDivInsideByUser > input {
  font-size: 17px;
}

.barchartByUser {
  height: 474px;
  width: 1208px;
}

.employeeTableByUser {
  margin-top: 20px;
}

.noData {
  font-size: 20px;
  font-weight: 500;
}
