

 .homepage {
    /* background: #18f268; */
    /*border: 1px solid #1877f2; */
    color: #fff;
    font-size: 1.25rem;
    padding: 0.5rem;
    margin: 0.5rem 0;
    /* border-radius: 200px; */
} 

.homepage img {
    border-radius: 200px;
}

.homeOptions {
    border: 2px solid blue;
    border-radius: 200px;

    height: 650px;

    display: flex;
    justify-content: space-around;
    align-items: center;

    

}

.homeOpts{
    width: 250px;
    height: 250px;
    border: 2px solid red;
    font-size: 20px;

    padding: 15px 40px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #00babe;
    border: none;
    /* border-radius: 800px; */
    box-shadow:  7px 6px 28px 1px rgba(0, 0, 0, 0.24);
}

.homeOpts:active {


    box-shadow:  7px 6px 28px 1px rgba(0, 0, 0, 0.24);
    transform: translateY(4px);
    /* Moving button 4px to y-axis */
}