

 button{
      text-decoration: none;
      border: none;
  }

  .homePageRightDn :hover {
    color : #00babe  ;
    background-color :white; 
    font-size: 30px;
    transition: 0.5s;
    cursor: pointer;
    font-weight: 600;
    display: flex;
   } 

 .homepage {
     /* background-color: brown; */
     width: 1510px;
     height: 725px;
     display: flex;
     flex-direction:row;
     justify-content: space-between;

 }
 
 .homePageBG{
     width: 650px;
     height: 725px;
 }
 
 .homePageRightDn {
     /* border: 2px solid green; */
     width: 755px;
     height: 500px;
     display: flex;
     flex-direction: column;
     justify-content: space-around;
     align-items: flex-start;
     /* background-color: #0B0633; */
     

 }

 .homePageRightUp {
     display: flex;
     flex-direction: column;
     justify-content: space-around;
    /* background-color: blue; */
    height: 185px;


 }
 .homeOption {

 display: flex;
 flex-direction: row;
 align-items: center;
 justify-content: flex-start;
     background-color: #00babe  ;
     color:white; 
     width: 555px;
     height: 130px; 
     font-size: 26px;
     border-radius: 10px;
 }

 .optionImage{
     width: 100px;
     height: 100px;
     border-radius: 150px;
 }
 
 .homeOptionImage{
     display: flex;
     flex-direction: column;
     align-items: center;
     width: 170px;
     height: auto;
/* border: 2px solid green; */
 }
 


 .welcome {
     /* background-color: blueviolet; */
    font-size:60px;
    font-weight: 700;
    height: 105px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    color: #00babe;

 }

 .intro{
     /* background-color: firebrick; */
    font-size:25px;
    font-weight: 600;
    height: 70px;
    color: red;
    /* color: #00babe; */

 }
 /*
 .homepage {
 
    color: #fff;
    font-size: 1.25rem;
    padding: 0.5rem;
    margin: 0.5rem 0;
 
} 

.homepage img {
    border-radius: 200px;
}

.homeOptions {
    border: 2px solid blue;
    border-radius: 200px;

    height: 650px;

    display: flex;
    justify-content: space-around;
    align-items: center;

    

}

.homeOpts{
    width: 250px;
    height: 250px;
    border: 2px solid red;
    font-size: 20px;

    padding: 15px 40px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #00babe;
    border: none;
 
    box-shadow:  7px 6px 28px 1px rgba(0, 0, 0, 0.24);
}

.homeOpts:active {


    box-shadow:  7px 6px 28px 1px rgba(0, 0, 0, 0.24);
    transform: translateY(4px); 
}
 */